/* GIMP theme.css
 *
 * This file is written on GIMP startup and on every theme change.
 * It is NOT supposed to be edited manually. Edit your personal
 * gimp.css file instead (/home/sb/.config/GIMP/2.99/gimp.css).
 */

@import url("file:///usr/share/gimp/2.99/themes/System/gimp.css");
@import url("file:///etc/gimp/2.99/gimp.css");

* { -gtk-icon-style: symbolic; }

/* prefer-dark-theme */

/* end of theme.css */
